Cheetah==2.4.1
PIL==1.1.6
PyYAML==3.10
Pygments==1.4
argparse==1.2.1
awscli==1.2.5
backports.ssl-match-hostname==3.4.0.2
bcdoc==0.11.0
boto==2.17.0
botocore==0.25.0
chardet==2.0.1
docopt==0.6.1
docutils==0.11
iniparse==0.3.1
jmespath==0.1.0
kitchen==1.1.1
lockfile==0.8
ordereddict==1.1
paramiko==1.7.5
ply==3.4
pycrypto==2.6.1
pycurl==7.19.0
pyliblzma==0.5.3
pystache==0.5.3
python-daemon==1.5.2
python-dateutil==2.1
pyxattr==0.5.0
requests==1.2.3
rsa==4.7
s3cmd==1.5.2
schema==0.3.1
simplejson==3.3.0
six==1.2.0
urlgrabber==3.9.1
urllib3==1.7
yum-metadata-parser==1.1.4